<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <%- include('block/face') %>
        <section class="section section_sostav">
            <div class="container">
                <div class="sostav">
                    <h2 class="sostav__title">Состав <mark>w-loss</mark> </h2>
                    <div class="sostav__body">
                        <div class="sostav__row">
                            <div class="sostav__col">
                                <div class="sostav__name">Гуарана</div>
                                <div class="sostav__description">снижает аппетит, улучшает пищеварение. Обладает термогенным действием (повышение уровня термогенеза вызывает дополнительные затраты калорий, которые организм получает из жировых запасов).</div>
                            </div>
                            <div class="sostav__col">
                                <div class="sostav__name">Спирулина</div>
                                <div class="sostav__description">нормализует обменные процессы. Содержащийся в ней фенилаланин отвечает за контроль аппетита, активизирует обмен веществ в организме.</div>
                            </div>
                        </div>
                        <div class="sostav__row">
                            <div class="sostav__col">
                                <div class="sostav__name">Померанец</div>
                                <div class="sostav__description">способствует активному жиросжиганию за счет стимуляции бета-3-адренорецепторов. Притупляет чувство голода, ускоряет обмен веществ. При регулярном употреблении увеличивает затраты энергии во время тренировки.</div>
                            </div>
                            <div class="sostav__col">
                                <div class="sostav__name">Чёрный перец</div>
                                <div class="sostav__description">богатый витаминно- минеральный состав. Воздействует на жировую ткань, которая уже есть и способен препятствовать образованию новых жировых отложений. Помогает усвоению белковой пищи и регулирует углеводный обмен.</div>
                            </div>
                        </div>
                        <div class="sostav__row">
                            <div class="sostav__col">
                                <div class="sostav__name">Рожковое дерево</div>
                                <div class="sostav__description">усиливает обмен веществ на клеточном уровне, снижает тягу к сладкому, восстанавливает уровень железа, кальция и витамина Е в организме.</div>
                            </div>
                            <div class="sostav__col">
                                <div class="sostav__name">Свёкла</div>
                                <div class="sostav__description">разгоняет метаболизм, активизирует обменные процессы, отчего вес начинает снижаться. Антиоксидант куркумин, содержащийся в этом овоще, препятствует образованию жировых клеток. Имеет выраженный детокс эффект, выводит лишнюю жидкость.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_advantages">
            <div class="container">
                <div class="advantages">
                    <h2 class="advantages__title">преимущества</h2>
                    <div class="advantages__list">
                        <div class="advantages__item"><p><span>-1.</span> Способствует очищению организма</p></div>
                        <div class="advantages__item"><p><span>-2.</span> Благоприятно влияет на работу ЖКТ</p></div>
                        <div class="advantages__item"><p><span>-3.</span> Помогает избавиться от вредоносных микроорганизмов</p></div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/face') %>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>